<!doctype html>

{% load staticfiles %}

<html lang="zh-Hant-TW">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Custom CSS-->
    <style type="text/css">
      body { background-color: #000000; }
      #header { background-color: #444444; }
      #content { padding-top: 30px; max-width: 960px; }
      #main { color: #BBBBBB; }
      #footer { padding-top: 60px; color: #444444; font-size: 11px; }
      .item { margin-bottom: 15px; margin-top: 15px; color: #BBBBBB;}
    </style>

    <link rel="icon" href="{% static 'ico-32x32.png' %}" sizes="32x32"/>
    <link rel="icon" href="{% static 'ico-128x128.png' %}" sizes="128x128"/>
    <title> 台北市松韻合唱團 {% block title %}{% endblock %} </title>
  </head>
  <body>

    <!-- Header -->
    <div class="container-fluid" id="header">
      <div class="row justify-content-center">
        <a href="/">
            <img class="img-fluid" src="{% static 'logo.jpg'%}">
        </a>
      </div>
    </div>

    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <div class="container-fluid" id="footer">
      <div class="row justify-content-center">
        台北市松韻合唱團 Taipei Song-Yung Choir, 2018
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script>
      var $container = $('.masonry');
      $container.imagesLoaded( function (){
        $container.masonry({
          itemSelector: '.item'
        });
      });
    </script>
  </body>
</html>