{% extends "base.html" %}
{% load staticfiles %}

{% block title %} | 音樂會列表 {% endblock %}

{% block content %}

<div class="container" id="content">
  <div class="row masonry">

    <!-- Main Content -->

    {% for event in events_dict %}
      {% if event.cover.count > 0 %}
        <div class="col-md-4 item">
          <img src="{{ event.cover.0.image.url }}" alt="" class="img-fluid">
          {{ event.name }}
        </div>
      {% else %}
        <div class="col-md-4 item">
          {{ event.name }}
        </div>
      {% endif %}
    {% empty %}
    <div class="col-md-4 item">
      沒有音樂會資料
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}